body {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid {
    height: 560px;
    width: 560px;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    /* margin-left: 40px; */
}

.grid div {
    height: 70px;
    width: 70px;
}

.square {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
   font-size: 30px;
}

h3 {
    font-size: 30px;
}

